.form-element .form-control {display: none;}
.shop-bar>.column {display: none;}
.main-navigation.text-center {background-color: #000;}
.navbar {background-color: #000;}
.fw-section.bg-gray.padding-top-3x {background-color: #fff;}
.container.padding-top-2x {display: none;}
.footer .column {background-color: #000;}
.featured-background {background-color: #000;}